@import '~@target-energysolutions/gis-map/styles.css';
@import '~styles/globals';
@use "react-md" as *;
.primarybar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  background: #fff;
  padding: 0px 20px;
  border-radius: 2px;
  /* stylelint-disable */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
    0 2px 1px -2px rgba(0, 0, 0, 0.1);
  p {
    margin-bottom: 0px;
    text-align: right;
  }
  div {
    aside {
      margin-bottom: 0px !important;
    }
  }
  .file-upload-input {
    display: none;
  }
  .file-upload-btn {
    padding: 7px 16px;
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    color: black;
    border: 1px solid #eee;
    // box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .custom-bordered-input-configurator-container .md-text-field-container {
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    padding: 0 10px;
    margin-bottom: 15px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 45px;
  }
}
.form-fields {
  width: 100%;
  display: flex;
  align-items: center;
}

.md-text-field--floating-margin {
  margin-top: 0px;
}
.form-fields {
  .input-tag {
    border: 1px solid #dddddd;
    flex: 0.7;
    border-radius: 4px;
  }
  .md-divider {
    display: none;
  }
}
input::placeholder,
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 14px;
}
.MuiAutocomplete-root {
  margin-bottom: 5px;
  width: 200px !important;
}
.MuiIconButton-root {
  padding: 5px;
}
.ant-modal {
  width: 51vw !important;
}
