.add-noc-container {
  height: calc(100vh - 85px);
  h3 {
    margin-bottom: 0px;
  }

  .ant-upload.ant-upload-drag {
    float: left;
    width: 50%;
    height: 100%;

    button.browse-btn {
      cursor: pointer;
      z-index: 10000;
    }
  }
}
