.text-area-input-tag {
  align-items: unset !important;

  .md-text-field-multiline-container {
    width: 100%;

    .md-text-field--multiline-mask {
      display: none;
    }

    .md-text-field.md-text-field--multiline {
      width: 100%;
    }
  }

  &.error-tag > div {
    border-color: #f00 !important;
  }
}

.wkt-input--field {
  height: 55px;
  max-height: 55px;
  overflow: hidden;
}

.input-tag {
  .md-text-field-container--multiline {
    .md-text-field-multiline-container {
      margin-top: 5px;
    }
  }

  &.error-tag > div {
    border-color: #f00 !important;
  }
}

.md-floating-label {
  cursor: text;
  line-height: 1;
  pointer-events: none;
  position: absolute;
  top: -21px !important;
  transition-duration: 0.15s;
  transition-property: transform, font-size, color;
  white-space: nowrap;
  background-color: white;
  padding: 0px 2px;
}
.md-text-field-container.md-full-width.md-text-field-container--input.md-autocomplete {
  
  padding: 8px 8px !important;
}
label.md-floating-label.md-floating-label--inactive.md-floating-label--inactive-sized.md-text--secondary {
  margin-top: -3px;
  font-size: 14px;
  text-transform: capitalize;
}
.md-text-field--floating-margin {
  margin-top: 0px;
}