.dialogbox--header {
  color: #364355;
  padding: 5px 24px;

  .map__dialogbox--searchbar {
    .md-text-field-icon-container {
      .md-text-field-divider-container--grow {
        margin-left: 0 !important;
      }
    }
  }
}

.datalist--dialogbox {
  .md-paper.md-paper--5.md-dialog {
    border: none;
    border-radius: 4px;
    max-width: 700px;
    max-height: 600px;
    width: 600px;
    height: 500px;

    .md-title {
      font-size: 18px;
      background-color: #fff !important;
      border-radius: 4px;
      color: black !important;
    }

    .md-title--dialog {
      padding: 10px 25px 0 25px !important;
    }

    .md-dialog-content {
      padding: 0;
      width: 100%;

      .dialog-heading {
        font-size: 13px;
        border-top: 1px solid #eee;
        padding: 0 24px;
        display: flex;
        align-items: center;
        height: 40px;
        border-bottom: 1px solid #eee;
      }
    }

    .md-dialog-footer {
      .cancel-button {
        border: 1px solid #717070;
        color: #717070;
        border-radius: 4px;
        min-width: 85px;
        height: 30px;
      }

      .action-button {
        border-radius: 4px;
        min-width: 85px;
        height: 30px;
      }

      .md-background--secondary {
        background: #ff7c53;
        color: #fff;
      }
    }

    .md-dialog-footer--inline {
      border-top: 1px solid #ccc;
    }
  }
}
