.noc-history-container {
  margin: auto;
  max-width: 95vw;
  max-height: calc(100vh - 124px);
  overflow-y: scroll;

  h3 {
    position: sticky;
    top: 1px;
    z-index: 10;
    margin-bottom: 5px;
    background: #f0f2f5;
    padding: 5px;
  }
  .ant-table-wrapper {
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
}

.noc-history-table {
  tr {
    td {
      vertical-align: middle !important;
    }
  }
  .file-icon {
    a {
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
}
