.history {
  h3.title {
    padding: 7px 20px;
  }
  .noc-history-container {
    margin: auto;
    max-width: 95vw;
    max-height: calc(100vh - 170px);
    overflow-y: scroll;

    .ant-table-wrapper {
      max-width: 100%;
      height: 100%;
      margin-right: 10px;
    }
  }
}

.noc-history-table {
  tr {
    td {
      vertical-align: middle !important;
      position: relative;
      padding: 2px 5px;
      overflow-wrap: break-word;

      &:first-child {
        padding-left: 10px;
      }
    }
  }
  .file-icon {
    text-align: center;
    img {
      display: block;
    }
    a {
      display: none;
      text-align: center;
      color: #747474;
      position: absolute;
      bottom: 0px;
      right: 45px;

      svg {
        height: 15px;
        width: 15px;
      }
    }

    &:hover a {
      display: inline-block;
    }
  }
}
