.upload-progress-container {
  width: 50%;
  height: calc(100vh - 136px);
  float: right;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  ul {
    width: 100%;
    .md-expansion-panel--expanded {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .md-panel-header,
      .md-panel-header--expanded {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 10px 0 20px;
      }

      div {
        width: 100%;

        .md-panel-content {
          padding: 0 8px 16px;

          .single-upload-info-item {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #ddd;
            margin: 5px 0;

            .icon-container {
              width: 35px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .percentage-container {
              display: flex;
              flex-direction: column;
              width: 100%;

              .file-label {
                font-size: 13px;
              }

              .progress-bar {
                height: 6px;

                .progress-line {
                  height: 100%;
                  background: blue;
                  border-radius: 6px;
                }
              }

              .upload-message {
                display: flex;
                justify-content: space-between;
                font-size: 13px;
              }

              .file-size {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

.file-progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 8px 0px;

  .file-extention {
    display: flex;
    max-height: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    background: #e3eeff82;
    max-width: 44px !important;
    border: 1px solid #1979ff;
    color: #1979ff;
    margin-right: 10px;
    align-items: center;
    justify-content: center;

    P {
      color: #1979ff;
      line-height: 1;
    }
  }
  .progress-icon {
    width: auto;
    text-align: right;
  }

  p {
    margin-bottom: 0px;
  }
}
