.map-details-right-side {
  flex-shrink: 0;
  width: 300px;
  margin-left: 16px;
  overflow: auto;
  border-radius: 3px;
  background: #fff;

  h2 {
    padding: 16px 12px 6px 16px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }

  &-content {
    padding: 8px 16px;

    .similarMap {
      margin-bottom: 8px;
    }
  }
}
