.mapDetails {
  &-content {
    display: flex;
    height: 100%;
    border-radius: 4px;
    background: #fff;
  }

  &-leftSide {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 12px;

    .map-img {
      width: 100%;
      margin-bottom: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    }

    .avatars {
      position: relative;
      margin-bottom: 15px;

      .map-status {
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: fit-content;
        padding: 2px 15px 2px 22px;
        transform: translate(-50%, -50%);
        border-radius: 12px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
        color: rgba($color: #000, $alpha: 0.2);
        font-weight: 500;

        &::before {
          content: '';
          position: absolute;
          z-index: 99;
          bottom: 8px;
          left: 8px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: rgba($color: #000, $alpha: 0.2);
        }
      }

      &.active {
        .map-status {
          color: green;

          &::before {
            background: rgba($color: green, $alpha: 0.7);
          }
        }
      }
    }

    .information {
      display: flex;
      flex-direction: column;

      > span {
        display: flex;
        align-items: center;
        padding: 8px 0;
        color: rgba($color: #000, $alpha: 0.9);

        .md-icon {
          margin-right: 6px;
          color: rgba($color: #000, $alpha: 0.6);
          font-size: 18px;
        }
      }

      .btn-contact {
        height: 40px;
        margin-bottom: 15px;
        padding: 8px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
      }
    }

    &-icon {
      width: 16px;
      margin-right: 6px;
    }
  }

  &-rightSide {
    border-left: 1px solid #ddd;
    flex: 8;

    .main-wrapper {
      overflow: auto;
      max-height: 100%;

      .header {
        border-bottom: 1px solid #ddd;
        padding: 10px;

        .name {
          color: rgba($color: #000, $alpha: 0.8);
          font-size: 20px;
          font-weight: 700;
        }

        .provider {
          font-size: 14px;
          display: flex;
          align-items: center;
          font-weight: 500;

          img {
            width: 16px;
          }
        }
      }

      .ant-tabs-content {
        padding: 0 15px;
        margin: 0 !important;
        display: block;
      }

      .ant-tabs-nav-container {
        background: #eee;

        .ant-tabs-nav .ant-tabs-tab {
          font-weight: 600;
          max-width: calc(100% - 10px);
          overflow: hidden;
          margin: 0;
        }
      }

      .imgs-gallery {
        margin-top: 10px;
        width: 100%;

        .ant-tabs-nav-container {
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .ant-tabs .ant-tabs-content {
          margin: 0 !important;
          display: block;
          padding: 0;
        }

        .ant-tabs-nav .ant-tabs-tab-active {
          border: 1px solid #1890ff;
        }

        .ant-tabs-nav .ant-tabs-tab {
          width: 140px;
          height: 100px;
          padding: 0;
          margin: 0 5px 0 0;
          border-radius: 5px;
        }

        .ant-tabs-ink-bar {
          background-color: unset;
        }

        .ant-tabs-tab-prev-icon-target,
        .ant-tabs-tab-next-icon-target {
          font-size: 40px;
          color: #1890ff;
        }
      }

      .pricing-tab {
        display: flex;
        justify-content: space-between;

        .md-btn {
          padding: 0;
        }
      }

      .title {
        padding: 8px 0;
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: 700;
      }

      h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
      }

      .description {
        color: rgba($color: #000, $alpha: 0.7);
        line-height: 2;
        font-size: 12px;
        margin-bottom: 10px;

        li {
          margin-left: 15px;
          color: rgba($color: #000, $alpha: 0.7);
          list-style: inside;
        }

        span {
          color: rgba($color: #000, $alpha: 0.9);
          font-size: 14px;
        }
      }

      .layers {
        display: flex;
        flex-wrap: wrap;

        .layer-label {
          width: fit-content;
          margin-right: 8px;
          padding: 4px 8px;
          border-radius: 3px;
          background: rgba(0, 0, 0, 0.1);
          margin-bottom: 8px;
        }
      }
    }
  }
}
